@import "fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: #27292f;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "raj";
}

@layer components {
  h1 {
    font-size: 1.7rem;
    @media screen and (max-width: 660px) {
      font-size: 1.3rem;
    }
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .btn-outline {
    @apply py-2 px-5 border border-solid border-blue-light hover:border-blue transition-all rounded-md;
  }
  .title {
    @apply flex-center text-4xl mt-1 mb-5;
  }
}

html body {
  width: 100%;
  height: 100%;
  background-color: var(--body-bg);
  font-family: "raj";
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 660px) {
  * {
    font-size: 13px;
  }
}
